// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('http://i3.visitchile.com/img/GalleryContent/4404/slider/Temuco.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
