// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('https://imgur.com/mTKOakW');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
